.join_center {
    margin-left: 10%; margin-right: 10%;
    margin-top: 60px;
 }
 .join_index {
     font-size: 13px;
     color: rgb(172, 172, 172);
     margin-top: 5px; margin-bottom: 5px; margin-left: 10%;
 }
 .hr_color {
     height: 0;
     border: 0;
     margin: 0;
     border-top: 1px solid rgb(224, 224, 224);
 }
 .회원가입박스 {
     overflow: hidden;
     border-bottom: 1px solid black;
 }    
 .회원가입 {
     float: left;
 }
 .정보입력0102 {
     text-align: right;
     padding-top: 30px;
 }
 .기본정보_center {
     margin-left: 15%; margin-right: 15%;
     margin-top: 70px;
 }
 .textColor_red {
     color: brown;
 }
 li {
     list-style: none;
 }
 ul { padding: 0;
 }

 #join_gide {
     display: grid;
     grid-template-columns: 210px 1fr;
 }
 .grid_left {
     margin: 0;
     padding: 20px;
     background-color: rgb(247, 243, 238);
 }
 .grid_left li {
     padding: 10px;
 }
 .grid_right {
     margin-top: 20px;
     margin-left: 5px;
     padding: 5px;
 }
 .grid_right input {
     padding: 5px;
     margin-bottom: 13px;
     width: 55%;
 }

 .띄어쓰기 {
     margin-left: 18px;
 }
 .btn {
     width: 120px;
     height: 50px;
     margin: 10px;
     display: inline;
     margin-top: 50px;
 }
 .btn_회원가입 {
     background-color: brown;
     color: white;
     display: inline;
     border: 0;
 }

 #postcode {
     width: 200px;
 }
 #postcode_button {
     width: 120px;
 }
 #address {
     width: 200px;
 }
 #detail_address {
    width: 120px;
 }
 #email {
    height: 30px;
 }
 #중복검사 {
    width: 100px;
 }


